div {
    color: royalblue;
}
.swiper1 {
    width: 100%;
    height: 100%;
}

.swiper1 .swiper-slide {
    width: 100vw;
    height: 30vw;
}

.swiper-pagination-fraction {
    color: white;
    text-align: right;
    left: -30px;
}

.my-pagination-current {
    font-weight: bold;
    font-size: 6vw;
}

.my-pagination-total {
    font-size: 4vw;
}